numpy
pandas
plotly
dash
dash-core-components
dash-bootstrap-components
dash-daq
dash-html-components
dash-player
grasia-dash-components
dash-defer-js-import
Flask
flask-cors
python-socketio[asyncio_client]
dill
pathos
